@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  text-align: center;
}
button {
  cursor: pointer;
}
