@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  /* background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important; */
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  text-align: center;
  overflow-x: hidden;
}
button {
  cursor: pointer;
}
